@import url("https://fonts.googleapis.com/css?family=Dosis:300,400,700,800");

@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

/*
    #161937,
    
    #1d224b,
    
    #29325c,
    
    #393865,
    
    #49446f
*/

#__nuxt {
  min-height: 100vh;
  color: #ffffff;
  /* font-family: "Dosis", sans-serif !important; */

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #d1d1d1;
  }
}

.card {
  color: #161937;
}
